.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.buttonWrap{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton{
    border: none;
    height: 3rem;
    width: 3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    box-shadow: 
    inset 0 0 15px rgba(55, 84, 170,0),
    inset 0 0 20px rgba(255, 255, 255, 0.459),
    7px 7px 15px rgba(55, 84, 170,.15),
    -7px -7px 20px rgba(255, 255, 255,1),
    inset 0px 0px 4px rgba(255, 255, 255,.2);
}

.toggleButton img{
    background: transparent;
    height: 80%;
    width: 80%;
}

#mailActive{
    box-shadow: 
    inset 7px 7px 15px rgba(15, 22, 43, 0.137),
    inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
}

#phoneActive{
    box-shadow: 
      inset 7px 7px 15px rgba(15, 22, 43, 0.137),
      inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255, 0.74);
}