#buttonBlue {
    background-color: #00a5f8;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15),
        inset -7px -7px 20px 0px hsl(200, 100%, 53%),
        inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #007cb9,
        inset 4px 4px 5px 0px #004263;
}

#buttonPurple {
    background-color: #8000f8;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15),
        inset -7px -7px 20px 0px rgb(158, 12, 255),
        inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #43007a,
        inset 4px 4px 5px 0px #001722;
}

.button span {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background: transparent;
}

.button img {
    height: 1.5rem;
    width: 1.5rem;
}

#buttonDisabled {
    background-color: rgb(243, 243, 243);
    cursor: default;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}
#buttonDisabled span {
    color: #919ba5;
    font-size: 1rem;
    background: transparent;
}

#buttonDisabled img {
    display: none;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
    width: 12rem;
    padding: 0.4rem;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
