#buttonBlue {
    background-color: #00a5f8;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15),
        inset -7px -7px 20px 0px hsl(200, 100%, 53%),
        inset -4px -4px 5px 0px #fff9, inset 7px 7px 20px 0px #007cb9,
        inset 4px 4px 5px 0px #004263;
}

#buttonGreen {
    background-color: #02ce80;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, 0.7),
        -6px -6px 10px rgba(255, 255, 255, 0.5),
        6px 6px 8px rgba(255, 255, 255, 0.075), 6px 6px 10px rgba(0, 0, 0, 0.15),
        inset -7px -7px 20px 0px #07eb93,
        inset -4px -4px 5px 0px #fff9, inset 10px 10px 20px 0px #009b5f,
        inset 4px 4px 5px 0px #00794a;
}

.button span {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    background: transparent;
}

.button img {
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
}

#buttonDisabled {
    background-color: rgb(243, 243, 243);
    cursor: default;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}
#buttonWhite {
    background-color: rgb(243, 243, 243);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}
#buttonRed {
    background-color: rgb(243, 243, 243);
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
}
#buttonWhite:active{
    box-shadow: 
    inset 7px 7px 15px rgba(15, 22, 43, 0.137),
    inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
}
#buttonRed:active{
    box-shadow: 
    inset 7px 7px 15px rgba(15, 22, 43, 0.137),
    inset -7px -7px 20px rgba(255, 255, 255,1),
      0px 0px 4px rgba(255, 255, 255,.2);
}
#buttonDisabled span {
    color: #919ba5;
    font-size: 1rem;
    background: transparent;
}

#buttonWhite span {
    color: #00a5f8;
    font-size: 1rem;
    background: transparent;
    font-weight: 600;
}

#buttonRed span {
    color: rgb(255, 102, 102);
    font-size: 1rem;
    background: transparent;
    font-weight: 600;
}

#buttonDisabled img {
    display: none;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    width: 12rem;
    padding: 0.4rem;
    border-radius: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 2.3rem;
}