.cardWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.inputWrapper{
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}